<%
    # ███████╗██████╗  █████╗  ██████╗███████╗██████╗ ██╗██████╗  █████╗ ████████╗███████╗
    # ██╔════╝██╔══██╗██╔══██╗██╔════╝██╔════╝██╔══██╗██║██╔══██╗██╔══██╗╚══██╔══╝██╔════╝
    # ███████╗██████╔╝███████║██║     █████╗  ██████╔╝██║██████╔╝███████║   ██║   █████╗  
    # ╚════██║██╔═══╝ ██╔══██║██║     ██╔══╝  ██╔═══╝ ██║██╔══██╗██╔══██║   ██║   ██╔══╝  
    # ███████║██║     ██║  ██║╚██████╗███████╗██║     ██║██║  ██║██║  ██║   ██║   ███████╗
    # ╚══════╝╚═╝     ╚═╝  ╚═╝ ╚═════╝╚══════╝╚═╝     ╚═╝╚═╝  ╚═╝╚═╝  ╚═╝   ╚═╝   ╚══════╝

    # RNB, A VIM COLORSCHEME TEMPLATE
    # Author:        Romain Lafourcade (https://github.com/romainl)
    # Canonical URL: https://github.com/romainl/vim-rnb

    # This template is designed to help vimmers create their own colorschemes
    # without much effort.
    #
    # You will need Ruby to generate your colorscheme but Ruby knowledge is
    # not needed at all.
    #
    # The process is divided in five steps:
    #   1. rename the template,
    #   2. edit your colorscheme's information,
    #   3. define your colors,
    #   4. define your highlight groups and links,
    #   5. and generate your colorscheme.

    # Step 1: renaming
    #
    # If this file is distributed with a colorscheme it's probably already named correctly
    # and you can skip this step.
    #
    # If you forked/cloned/copied this repository to create your own colorscheme, you will have to
    # rename this template to match the name of your colorscheme.
    #
    # NOTE: Vim doesn't really care about whitespace in the name of the colorscheme but it does for
    # filenames so make sure your filename doesn't have any whitespace character.
    #
    #   colorscheme name | template filename | colorscheme filename
    #  ------------------|-------------------|----------------------
    #   foobar           | foobar.erb        | foobar.vim
    #   foo-bar          | foo-bar.erb       | foo-bar.vim
    #   foo_bar          | foo_bar.erb       | foo_bar.vim
    #   foo bar          | foo-bar.erb or    | foo-bar.vim or
    #                    | foo_bar.erb       | foo_bar.vim

    # Step 2: information
    #
    # Make sure the name of your colorscheme is unique and attractive.
    # The description should fit in a single line with no linefeed.
    # 'background' can be "light" or "dark".
    information = {
        author:      "Nadim Edde Gomez",
        email:       "nadim@eddegomez.org",
        name:        "SpacePirate",
        description: "Personal rewrite with xterm colors of 'vim-code-dark'",
        webpage:     "https://gitlab.com/Nequo/spacepirate/"
    }

    # Step 3: colors
    #
    # black = [       give each color a distinctive name
    #   "#000000",    hexadecimal color used in GVim/MacVim or "NONE"
    #   0,            integer between 0 and 255 used by terminals supporting 256 colors
    #                 or "NONE"
    #   "black"       color name used by less capable color terminals, can be "darkred",
    #                 "red", "darkgreen", "green", "darkyellow", "yellow", "darkblue",
    #                 "blue", "darkmagenta", "magenta", "black", "darkgrey", "grey",
    #                 "white", or "NONE"
    # ]
    #
    # If your colors are defined correctly, the resulting colorscheme is guaranteed
    # to work in GVim (Windows/Linux), MacVim (MacOS), and any properly set up terminal emulator.
    spaceBlack   = ["#121212", 233, "black"]
    black        = ["#1c1c1c", 234, "black"]
    darker_grey  = ["#262626", 235, "black"]
    dark_grey    = ["#303030", 236, "darkgrey"]
    grey         = ["#444444", 238, "darkgrey"]
    medium_grey  = ["#585858", 240, "darkgrey"]
    light_grey   = ["#6c6c6c", 242, "lightgrey"]
    lighter_grey = ["#bcbcbc", 250, "lightgrey"]
    white        = ["#DADADA", 253, "white"]

    pink         = ["#d787af", 175, "magenta"]
    purple       = ["#8787AF", 103, "darkmagenta"]

    green        = ["#5f875f", 65, "darkgreen"]
    aqua         = ["#5FAFAF", 73, "darkcyan"]

    dark_blue    = ["#005f87", 24, "blue"]
    blue         = ["#5fafd7", 74, "blue"]
    light_blue   = ["#87d7ff", 117, "blue"]
    
    yellow       = ["#d7d787", 186, "yellow"]
    yorange      = ["#d7af5f", 179, "yellow"]
    light_orange = ["#d7875f", 173, "red"]
    red          = ["#d75f5f", 167, "darkred"]

    # Step 4: highlights
    #
    # You can define highlight groups like this:
    #
    #   [ "Normal",       name of the highlight group
    #     white,          the color used for background color, or use "NONE", "fg" or "bg"
    #     darkgray,       the color used for foreground color, or use "NONE", "fg" or "bg"
    #     "NONE"          style, can be "bold", "underline", "reverse", "italic",
    #                     "standout", "NONE" or "undercurl"
    #   ]
    #
    # The sample above tells Vim to render normal text in dark gray against a white
    # background, without any other styling.
    #
    # Or you can link an highlight group to another. Here, "Title" will inherit its style from
    # "Normal":
    #
    #   [ "Title", "Normal" ]
    #
    # In GUI Vim, there is an additional color for the undercurl used to
    # highlight spelling mistakes:
    #
    #   [ "SpellBad",     name of the highlight group
    #     "NONE",         the color used for background color, or use "NONE", "fg" or "bg"
    #     red,            the color used for foreground color, or use "NONE", "fg" or "bg"
    #     "undercurl",    style
    #     red             color used for the undercurl
    #   ]
    #
    # The sample above tells Vim to render badly spelled words in red against the current
    # background, with a red undercurl.
    #
    # You can add any custom highlight group to the standard list below but you shouldn't
    # remove any if you want a working colorscheme. Most of them are described under
    # :help highlight-default, the others are taken from :help group-name. Both help sections
    # are good reads, by the way.
    highlights = [
        [ "Delimiter", "NONE", lighter_grey, "NONE" ],
        [ "Normal", black, lighter_grey, "NONE" ],
        [ "NonText", "NONE", medium_grey, "NONE" ],
        [ "EndOfBuffer", "NONE", medium_grey, "NONE" ],
        [ "LineNr", spaceBlack, grey, "NONE" ],
        [ "FoldColumn", spaceBlack, light_grey, "NONE" ],
        [ "Folded", spaceBlack, light_grey, "NONE" ],
        [ "MatchParen", grey, yellow, "NONE" ],
        [ "SignColumn", spaceBlack, light_grey, "NONE" ],
        [ "Comment", "NONE", green, "NONE" ],
        [ "Conceal", "NONE", lighter_grey, "NONE" ],
        [ "Constant", "NONE", light_orange, "NONE" ],
        [ "Error", "NONE", red, "reverse" ],
        [ "Identifier", "NONE", light_blue, "NONE" ],
        [ "Ignore", "NONE", "NONE", "NONE" ],
        [ "PreProc", "NONE", pink, "NONE" ],
        [ "Special", "NONE", yorange, "NONE" ],
        [ "Statement", "NONE", blue, "NONE" ],
        [ "String", "NONE", light_orange, "NONE" ],
        [ "Todo", "NONE", yorange, "reverse" ],
        [ "Type", "NONE", purple, "NONE" ],
        [ "Underlined", "NONE", aqua, "underline" ],
        [ "Pmenu", dark_grey, lighter_grey, "NONE" ],
        [ "PmenuSbar", medium_grey, "NONE", "NONE" ],
        [ "PmenuSel", dark_blue, white, "NONE" ],
        [ "PmenuThumb", aqua, aqua, "NONE" ],
        [ "ErrorMsg", darker_grey, red, "reverse" ],
        [ "ModeMsg", darker_grey, green, "reverse" ],
        [ "MoreMsg", "NONE", aqua, "NONE" ],
        [ "Question", "NONE", green, "NONE" ],
        [ "WarningMsg", "NONE", red, "NONE" ],
        [ "TabLine", grey, blue, "NONE" ],
        [ "TabLineFill", grey, grey, "NONE" ],
        [ "TabLineSel", blue, darker_grey, "NONE" ],
        [ "ToolbarLine", spaceBlack, "NONE", "NONE" ],
        [ "ToolbarButton", medium_grey, lighter_grey, "NONE" ],
        [ "Cursor", light_grey, "NONE", "NONE" ],
        [ "CursorColumn", darker_grey, "NONE", "NONE" ],
        [ "CursorLineNr", darker_grey, aqua, "NONE" ],
        [ "CursorLine", darker_grey, "NONE", "NONE" ],
        [ "helpLeadBlank", "NONE", "NONE", "NONE" ],
        [ "helpNormal", "NONE", "NONE", "NONE" ],
        [ "StatusLine", dark_grey, white, "NONE" ],
        [ "StatusLineNC", grey, blue, "NONE" ],
        [ "StatusLineTerm", blue, darker_grey, "NONE" ],
        [ "StatusLineTermNC", grey, blue, "NONE" ],
        [ "Visual", white, dark_blue, "reverse" ],
        [ "VisualNOS", "NONE", "NONE", "underline" ],
        [ "VertSplit", grey, grey, "NONE" ],
        [ "WildMenu", dark_blue, white, "NONE" ],
        [ "Function", "NONE", yellow, "NONE" ],
        [ "SpecialKey", "NONE", medium_grey, "NONE" ],
        [ "Title", "NONE", white, "NONE" ],
        [ "DiffAdd", darker_grey, green, "reverse" ],
        [ "DiffChange", darker_grey, purple, "reverse" ],
        [ "DiffDelete", darker_grey, red, "reverse" ],
        [ "DiffText", darker_grey, light_orange, "reverse" ],
        [ "IncSearch", yellow, darker_grey, "NONE" ],
        [ "Search", dark_blue, white, "NONE" ],
        [ "Directory", "NONE", aqua, "NONE" ],
        [ "debugPC", blue, "NONE", "NONE" ],
        [ "debugBreakpoint", red, "NONE", "NONE" ],
        [ "SpellBad", "NONE", red, "undercurl", red ],
        [ "SpellCap", "NONE", aqua, "undercurl", aqua ],
        [ "SpellLocal", "NONE", green, "undercurl", green ],
        [ "SpellRare", "NONE", light_orange, "undercurl", light_orange ],
        [ "ColorColumn", spaceBlack, "NONE", "NONE" ],
        [ "Terminal", "Normal" ],
        [ "Number", "Constant" ],
        [ "CursorIM", "Cursor" ],
        [ "Boolean", "Constant" ],
        [ "Character", "Constant" ],
        [ "Conditional", "Statement" ],
        [ "Debug", "Special" ],
        [ "Define", "PreProc" ],
        [ "Exception", "Statement" ],
        [ "Float", "Number" ],
        [ "HelpCommand", "Statement" ],
        [ "HelpExample", "Statement" ],
        [ "Include", "PreProc" ],
        [ "Keyword", "Statement" ],
        [ "Label", "Statement" ],
        [ "Macro", "PreProc" ],
        [ "Number", "Constant" ],
        [ "Operator", "Special" ],
        [ "PreCondit", "PreProc" ],
        [ "Repeat", "Statement" ],
        [ "SpecialChar", "Special" ],
        [ "SpecialComment", "Special" ],
        [ "StorageClass", "Type" ],
        [ "Structure", "Type" ],
        [ "Tag", "Special" ],
        [ "Terminal", "Normal" ],
        [ "Typedef", "Type" ],
        [ "htmlTagName", "Statement" ],
        [ "htmlEndTag", "htmlTagName" ],
        [ "htmlLink", "Function" ],
        [ "htmlSpecialTagName", "htmlTagName" ],
        [ "htmlTag", "htmlTagName" ],
        [ "htmlBold", "Normal" ],
        [ "htmlItalic", "Normal" ],
        [ "htmlArg", "htmlTagName" ],
        [ "xmlTag", "Statement" ],
        [ "xmlTagName", "Statement" ],
        [ "xmlEndTag", "Statement" ],
        [ "markdownItalic", "Preproc" ],
        [ "asciidocQuotedEmphasized", "Preproc" ],
        [ "diffBDiffer", "WarningMsg" ],
        [ "diffCommon", "WarningMsg" ],
        [ "diffDiffer", "WarningMsg" ],
        [ "diffIdentical", "WarningMsg" ],
        [ "diffIsA", "WarningMsg" ],
        [ "diffNoEOL", "WarningMsg" ],
        [ "diffOnly", "WarningMsg" ],
        [ "diffRemoved", "WarningMsg" ],
        [ "diffAdded", "String" ],
        [ "QuickFixLine", "Search" ],

        # Signify
        [ "DiffAdd", spaceBlack, green, "NONE" ],
        [ "DiffChange", spaceBlack, purple, "NONE" ],
        [ "DiffDelete", spaceBlack, red, "NONE" ],

        # Rust
        [ "rustCommentLineDoc", "String" ],

        # Terraform
        [ "terraBlockType", "Statement" ],

        # GO
        [ "goRepeat", "NONE" , pink, "NONE" ]
        
    ]

    # Define the color palette used by :terminal when in GUI Vim
    # or in TUI Vim when 'termguicolors' is enabled. If this list
    # is empty or if it doesn't contain exactly 16 items, the corresponding
    # Vim variable won't be set.
    #
    # The expected values are colors defined in step 3.
    #
    # Terminal emulators use a basic palette of 16 colors that can be
    # addressed by CLI and TUI tools via their name or their index, from
    # 0 to 15. The list is not really standardized but it is generally
    # assumed to look like this:
    #
    #   Index | Name
    #  -------|-------------
    #   0     | black
    #   1     | darkred
    #   2     | darkgreen
    #   3     | darkyellow
    #   4     | darkblue
    #   5     | darkmagenta
    #   6     | darkcyan
    #   7     | gray
    #   8     | dark_grey
    #   9     | red
    #   10    | green
    #   11    | yellow
    #   12    | blue
    #   13    | magenta
    #   14    | cyan
    #   15    | white
    #
    # While you are certainly free to make colors 0 to 7 shades of blue,
    # this will inevitably cause usability issues so… be careful.
    terminal_ansi_colors = [
        spaceBlack,
        red,
        green,
        blue,
        blue,
        purple,
        aqua,
        light_grey,
        grey,
        light_orange,
        green,
        yellow,
        blue,
        purple,
        aqua,
        white
    ]

    # Step 5: generation
    #
    # From a separate shell:
    #
    #     $ erb -T - bar.erb > bar.vim
    #
    # From Vim:
    #
    #     :!erb -T - % > %<.vim
    #
    # If this template comes with a Makefile, you can do it from a separate shell,
    # with the make program:
    #
    #     $ make

    # These online resources can help you design your colorscheme:
    #
    #   * http://upload.wikimedia.org/wikipedia/en/1/15/Xterm_256color_chart.svg
    #         the xterm palette
    #   * http://whatcolor.herokuapp.com/
    #         play with hexadecimal colors right in the address bar (currently down)
    #   * http://color.hailpixel.com/
    #         similar concept, fuzzier implementation
    #   * http://colourco.de/
    #         similar concept, fancier implementation
    #   * http://www.colr.org/
    #         extract a palette from an image
    #   * http://colores.manugarri.com/
    #         search for 'word', get images and color palettes
    #   * http://www.colourlovers.com/palettes
    #         user-created palettes
    #   * http://www.perbang.dk/color+scheme/
    #         a no-nonsense colorscheme generator
    #   * https://color.adobe.com/
    #         Adobe's fancy colorscheme generator
    #   * http://paletton.com/
    #         The classic 'Color Scheme Designer', rebranded
    #   * http://vrl.cs.brown.edu/color
    #         A very smart palette generator
    #   * https://cmcenroe.me/2018/04/03/colour-scheme.html
    #         "I Made My Own Colour Scheme and You Can Too!"

    # A few general advices:
    #
    #   * The Windows console is limited to the 16 so-called "ANSI" colors but it used to
    #     have a few of them interverted which makes numbers impractical. Use color names
    #     instead of numbers: :help cterm-colors
    #   * The Windows console (yeah…) doesn't do italics, underlines or bolded text;
    #     it is limited to normal and reverse. Keep that in mind if you want
    #     your colorscheme to be usable in as many environments as possible by as many
    #     people as possible.
    #   * Actually, terminal emulators rarely do italics.
    #   * All of the terminal emulators in use these days allow their users to
    #     change the 16 so-called "ANSI" colors. It is also possible on some platforms
    #     to change some or all of the 256 colors in the xterm palette. Don't take
    #     anything for granted.
    #   * When used against a light background, strong colors work better than muted
    #     ones. Light or dark doesn't really matters. Also, it is harder to discriminate
    #     between two similar colors on a light background.
    #   * Both strong and muted colors work well against a dark background. It is also
    #     easier to work with similar colors, but dark colors don't work at all.
    #   * Use as many text samples as possible. String-heavy languages may look completely
    #     different than keyword-heavy ones. This can have an impact on the usability
    #     of your colorscheme.
    #   * Most terminal emulators and terminal multiplexers currently in use on unix-like
    #     systems support 256 colors but they almost always default to a '$TERM' that tells
    #     Vim otherwise. Your users will need to make sure their terminal emulator/multiplexer
    #     is correctly set up if they want to enjoy the best possible experience.

    # Many thanks to Barry Arthur (https://github.com/dahu) for the original idea.

    # You don't need to edit anything beyond this line.
-%>
" <%= information[:name] %>.vim -- Vim color scheme.
" Author:      <%= information[:author] %> (<%= information[:email] %>)
" Webpage:     <%= information[:webpage] %>
" Description: <%= information[:description] %>
" Last Change: <%= Time.new.strftime "%Y-%m-%d" %>

hi clear
if exists("syntax_on")
  syntax reset
endif

let colors_name = "<%= information[:name].downcase %>"

if ($TERM =~ '256' || &t_Co >= 256) || has("gui_running")
<% for highlight in highlights -%>
<% if highlight.length == 4 -%>
    hi <%= highlight[0] %> ctermbg=<%= highlight[1].kind_of?(String) ? highlight[1] : highlight[1][1] %> ctermfg=<%= highlight[2].kind_of?(String) ? highlight[2] : highlight[2][1] %> cterm=<%= highlight[3] %> guibg=<%= highlight[1].kind_of?(String) ? highlight[1] : highlight[1][0] %> guifg=<%= highlight[2].kind_of?(String) ? highlight[2] : highlight[2][0] %> gui=<%= highlight[3] %>
<% elsif highlight.length > 4 -%>
    hi <%= highlight[0] %> ctermbg=<%= highlight[1].kind_of?(String) ? highlight[1] : highlight[1][1] %> ctermfg=<%= highlight[2].kind_of?(String) ? highlight[2] : highlight[2][1] %> cterm=<%= highlight[3] %> guibg=<%= highlight[1].kind_of?(String) ? highlight[1] : highlight[1][0] %> guifg=<%= highlight[2].kind_of?(String) ? highlight[2] : highlight[2][0] %> gui=<%= highlight[3] %> guisp=<%= highlight[4].kind_of?(String) ? highlight[4] : highlight[4][0] %>
<% end -%>
<% end -%>

elseif &t_Co == 8 || $TERM !~# '^linux' || &t_Co == 16
    set t_Co=16
<%= '' %>
<% for highlight in highlights -%>
<% if highlight.length > 2 -%>
    hi <%= highlight[0] %> ctermbg=<%= highlight[1].kind_of?(String) ? highlight[1] : highlight[1][2] %> ctermfg=<%= highlight[2].kind_of?(String) ? highlight[2] : highlight[2][2] %> cterm=<%= highlight[3] %>
<% end -%>
<% end -%>
endif
<% links = highlights.select do |highlight| -%>
<% highlight.length == 2 -%>
<% end -%>
<% if links.length > 0 -%>
<%= '' %>
<% for link in links -%>
hi link <%= link[0] %> <%= link[1] %>
<% end -%>
<% end -%>
<% if terminal_ansi_colors.length == 16 -%>
<%= '' %>
let g:terminal_ansi_colors = [
<% for color in terminal_ansi_colors -%>
        \ '<%= color[0] %>',
<% end -%>
        \ ]
<% end -%>

" Generated with RNB (https://github.com/romainl/vim-rnb)
